* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', Verdana, sans-serif;
    background:  #75b4c0;
    user-select: none;
}

img {
    -webkit-user-drag: none;
}

h1 {
    text-align: center;
    color: white;
}
button {
    border: none;
    outline: none;
    text-align: inherit;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
}
/*******************************************************/
/*search START*/

#search {
    border: none;
    outline: none;
    width: 120px;
    padding: 5px;
    border-right: 1px solid #677d81;
  
  }
  